<?xml version="1.0" encoding="UTF-8"?>
<config>
<repository link="../repos/modules/3m48                  "/>
<repository link="../repos/modules/3m871f                "/>
<repository link="../repos/modules/3r14n                 "/>
<repository link="../repos/modules/43                    "/>
<repository link="../repos/modules/5p10                  "/>
<repository link="../repos/modules/5p20k                 "/>
<repository link="../repos/modules/5p23                  "/>
<repository link="../repos/modules/5p28                  "/>
<repository link="../repos/modules/5p30p                 "/>
<repository link="../repos/modules/akpdvo                "/>
<repository link="../repos/modules/alyaska               "/>
<repository link="../repos/modules/anti-air-defence      "/>
<repository link="../repos/modules/anti-submarine-defence"/>
<repository link="../repos/modules/arty-control          "/>
<repository link="../repos/modules/blokirovka            "/>
<repository link="../repos/modules/cgengine              "/>
<repository link="../repos/modules/chardash              "/>
<repository link="../repos/modules/charodeyka            "/>
<repository link="../repos/modules/chva                  "/>
<repository link="../repos/modules/collision-prevention  "/>
<repository link="../repos/modules/combat-practice       "/>
<repository link="../repos/modules/command-post-situation"/>
<repository link="../repos/modules/connectortodatabase   "/>
<repository link="../repos/modules/documenting-control   "/>
<repository link="../repos/modules/ecs                   "/>
<repository link="../repos/modules/fighter-control       "/>
<repository link="../repos/modules/fighter-planning      "/>
<repository link="../repos/modules/geographic            "/>
<repository link="../repos/modules/gnome                 "/>
<repository link="../repos/modules/imitutils             "/>
<repository link="../repos/modules/interface             "/>
<repository link="../repos/modules/iusmn                 "/>
<repository link="../repos/modules/joint-navigation      "/>
<repository link="../repos/modules/jsoncpp               "/>
<repository link="../repos/modules/kharakterk            "/>
<repository link="../repos/modules/korraks               "/>
<repository link="../repos/modules/kpas                  "/>
<repository link="../repos/modules/kt308                 "/>
<repository link="../repos/modules/mdm2                  "/>
<repository link="../repos/modules/mg757                 "/>
<repository link="../repos/modules/mine-laying           "/>
<repository link="../repos/modules/minesbarrage          "/>
<repository link="../repos/modules/minotavr              "/>
<repository link="../repos/modules/mr231                 "/>
<repository link="../repos/modules/mr650                 "/>
<repository link="../repos/modules/mr710                 "/>
<repository link="../repos/modules/mtk                   "/>
<repository link="../repos/modules/navigation-safety     "/>
<repository link="../repos/modules/navigation-service    "/>
<repository link="../repos/modules/nrts                  "/>
<repository link="../repos/modules/pairing-viewer        "/>
<repository link="../repos/modules/paket                 "/>
<repository link="../repos/modules/palubnik              "/>
<repository link="../repos/modules/platanmr              "/>
<repository link="../repos/modules/ship-display          "/>
<repository link="../repos/modules/sipbj                 "/>
<repository link="../repos/modules/sppz27                "/>
<repository link="../repos/modules/stena                 "/>
<repository link="../repos/modules/submarine-searching   "/>
<repository link="../repos/modules/symbol-repository     "/>
<repository link="../repos/modules/sys-admin             "/>
<repository link="../repos/modules/sys-common            "/>
<repository link="../repos/modules/sys-config            "/>
<repository link="../repos/modules/sys-control           "/>
<repository link="../repos/modules/sys-dialog            "/>
<repository link="../repos/modules/sys-graphics          "/>
<repository link="../repos/modules/trajectorycalculate   "/>
<repository link="../repos/modules/v7m                   "/>
</config>
